.feedback{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1000px;
  min-height: 600px;
}

.modal {
  width: 500px;
  background: #fff;
  animation: in 1s;
  &.red {
    background: black;
    color: red;
  }
  &.blue {
    background: blue;
    color: red;
  }
  @supports (offset-rotate: 0deg) {
    offset-rotate: 0deg;
    offset-path: path("M 250,100 S -300,500 -700,-200");
  }
  @media (prefers-reduced-motion) {
    offset-path: none;
  }
}

@keyframes in {
  from{
    opacity: 0;
    visibility: hidden;
    filter: blur(8px);
    transform: scale(0.33);
    box-shadow: 1rem 0 0 rgba(black, 0.2);
    offset-distance: 100%;
  }to{
    visibility: visible;
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
}


.modal > .modal-title {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 0;
}

.modal > .content {
    padding: 1rem;
    background-color: #fbfbfb;
    box-shadow: 1px, 0px, 0 0 10px rgba(0, 0, 0, 0.1);
}

.content > .status {
    min-width: 400px;
    min-height: 20px;
    padding: 4px;

    &.red {
        color: red;
    }

    &.green {
        color: green;
    }
}

.actions {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 0.5rem 1rem;
}

.toggle-button {
    border: 0;
    background: black;
    color: white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    line-height: 1;
    transition: .5s;
}

.toggle-button:hover{
    background: #ccc;
    color: black;
    transition: .5s;
}

#centered-toggle-button {
  position: absolute;
}
